.modal-inner{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.added-image{
    height: 220px;
    width:260px;
}
.take-home-button{
    border: 1px solid black;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top:10px;
}

.take-home-button i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
